// Import default GitHub Pages theme styles first
@import "{{ site.theme }}";

// Custom styles below

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #222;
  line-height: 1.6;
  background-color: #fdfdfd;
}

a {
  color: #3178c6;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4 {
  font-weight: 600;
  color: #1a1a1a;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


// margin control

img[src*="capsule-render"] {
  margin-bottom: 0;
  display: block;
}

img[alt="Grace Somin Lee"] {
  margin-top: 0;
}


hr {
  border: none;
  border-top: 0px solid rgba(0, 0, 0, 0.05);
  margin: 1.2em 0;
}

// changing title font color
.section-title {
  color: #3178c6;
  font-weight: 600;
}

